$mobile-breakpoint: 940px;
.mainContent {
    margin-left: 18rem;
    @media (max-width: $mobile-breakpoint) {
        margin-left: 0 !important;
        justify-content: center;
    }
}

.sideBar{
    
    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}
.mainTopContent {
    margin-left: 17rem;
    flex-direction: column;
    background-color: rgba(236, 221, 4, 0.315);
    @media (max-width: $mobile-breakpoint) {
        margin-left: 0;
    }
}
.bottomWrapper{
    margin-left: 18rem;
    flex-direction: row;
    @media (max-width: $mobile-breakpoint) {
        margin-left: 0 !important;
        align-items: center;
    }
}
.chartContent{
    width: 34rem;
    flex-direction: column;
    margin-right: 2rem;
    @media (max-width: $mobile-breakpoint) {
        width: 22rem!important;
        margin-right: 0;
        align-items: center !important;
        justify-content: center;
    }
}

.table{
    background-color: rgba(236, 221, 4, 0.315) !important;
}

.mainTopContent select {
    width: 30%;
}

.filterWrapper {
    margin-top: 2rem;
}

.cardNumber {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
}

.dataCard {
    background-color: rgba(236, 221, 4, 0.315);
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 270px;
}
.flexResponsive{
    flex-direction: row;
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}
.sidebarIcon{
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    &:hover{
        background-color: rgb(68, 67, 67);
    }
}