$mobile-breakpoint: 940px;

.mainContent {
    margin-left: 18rem;

    @media (max-width: $mobile-breakpoint) {
        margin-left: 0 !important;
        justify-content: center;
    }
}

.sideBar {
    z-index: 10;
    .sideBarImage {
        border-radius: 50%;
        border: 4px solid #C2DBFE;
    }

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.sideBarDispaly{
    display: block !important;
}

.mainTopContent {
    margin-left: 17rem;
    flex-direction: column;
    background-color: rgba(236, 221, 4, 0.315);

    @media (max-width: $mobile-breakpoint) {
        margin-left: 0;
    }
}

.bottomWrapper {
    margin-left: 18rem;
    flex-direction: row;

    @media (max-width: $mobile-breakpoint) {
        margin-left: 0 !important;
        align-items: center;
    }
}

.chartContent {
    width: 34rem;
    flex-direction: column;
    margin-right: 2rem;

    @media (max-width: $mobile-breakpoint) {
        width: 22rem !important;
        margin-right: 0;
        align-items: center !important;
        justify-content: center;
    }
}

.table {
    background-color: rgba(236, 221, 4, 0.315) !important;
}

.mainTopContent select {
    width: 30%;
}

.filterWrapper {
    margin-top: 2rem;
}

.cardNumber {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
}

.dataCard {
    background-color: rgba(236, 221, 4, 0.315);
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 270px;
}

.flexResponsive {
    flex-direction: row;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.sidebarIcon {
    visibility:hidden;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 15;
    &:hover {
        background-color: rgb(68, 67, 67);
    }
    @media (max-width: $mobile-breakpoint) {
        visibility:visible;
    }
}

.profileCreateWrapper {
    margin-left: 20rem;
    margin-right: 2rem;
    margin-top: 15%;
    border: 4px solid orange;
    border-style: dashed;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 20px;
    }

    @media (max-width: $mobile-breakpoint) {
        margin-left: 1rem !important;
        margin-right: 1rem;
        margin-top: 30%;
    }

    .addWheelItemsWrapper {
        height: 40px;

        button {
            width: 100px;
        }
    }

    .wheelItem {
        background-color: beige;
        border: 3px solid;
        padding: 5px 10px 5px 10px;
        border-radius: 20px;
    }

    .qrCode {
        visibility: hidden;
        position: absolute;
    }
}

.imagePreview {
    width: 200px;
    height: 200px;
    border: 10px solid #C2DBFE;
}

.imageUploadLoader {
    position: absolute;
    top: 44%;
    left: 61.5%;
    transform: translate(-50%, -50%);
}