$mobile-breakpoint: 940px;

.mainContent{
    background-color: #f1f5f7;
    margin-bottom: 2rem;
}
.mainContentForQR{
    background-color: #f1f5f7;
    height: 100vh;
}

.imagePreview {
    width: 200px;
    height: 200px;
    border: 10px solid #C2DBFE;
}

.imageUploadLoader {
    position: absolute;
    top: 44%;
    left: 61.5%;
    transform: translate(-50%, -50%);
}

.addWheelItemsWrapper {
    height: 40px;

    button {
        width: 100px;
    }
}

.wheelItem {
    background-color: beige;
    border: 3px solid;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    
    .dot{
        width: 10px;
        margin-right: 5px;
        height: 10px;
        border-radius: 50%;
    }
}
.imageUploadWrapper{
    width: 40%;
    @media (max-width: $mobile-breakpoint) {
        width: 95%;
    }

}
.qrCodeWrapper{
    padding: 2rem;
    border-radius: 20px; 
    .qrCode {
        border-radius: 20px;    
    }
}

.qrpageBtn{
    background-color: #11b196 !important; 
}

.flexResponsive{
    flex-direction: row;
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}
.wheelwrp{
    position: relative;
    @media (max-width: $mobile-breakpoint) {
        margin-top: 30rem
    }
   
}
.wheelWrapper{
    position: relative;
    width: 550px;
    height: 400px;
    margin-left: 120px;
   
    @media (max-width: $mobile-breakpoint) {
    position: absolute;
     left: -128px;
     bottom: -250px;
     transform: translate(-50%,-50%);
   }
}
.colorPlateItem{
    width: 15px;
    height: 15px;
    background-color: #11b196;
}

.colorPlateItemSeleted{
    border: 2px solid gray;
    width: 20px;
    height: 20px;
}

.colorPicker{
    position: absolute;
    margin-left: 101px;
    margin-top: -239px;
}

.spinTopWrapper{
    margin-left: 5rem;
    .spinLogo{
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      border: 8px solid #5cb85c;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    p{
      font-size: 20px;
      margin-bottom: 2rem;
      font-weight: 900;
      color: #000;
      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 2rem;
        margin-left: 2rem;
        width: 200px;
      }
    }
    
    button{
      border-radius: 20px;
      font-weight: 600;
    }
  
    @media (max-width: $mobile-breakpoint) {
        margin-left: 0 !important;
      position: absolute;
      top: -525px;
      text-align: start !important;
      width: 24rem;
    }
  }