$mobile-breakpoint: 940px;

.mainContent{
    height: 100vh;
    background-color: #f1f5f7;
}
.chartContent{
    text-align: center;
}

@media (max-width: $mobile-breakpoint) {
   .table{
    text-align: center;
        th, td{
            font-size: 12px;
            text-align: center;
        }
   }
}