.backgroundContainer {
    background-image: url('/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

.headding{
    color: black;
}

.app {
  text-align: center;
}

.barcodeScanner {
  width: 100%;
  height: 70vh;
}