.closeBtn{
    position: absolute;
    right: 12px;
    top: 11px;
    font-size: 23px;
    cursor: pointer;
}

.tcWrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding-right: 12px;
    padding-bottom: 12px;
    color: black;
    
  }
  
  .modalHeader {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    i{
        font-size: 25px;
    }
  }
  
  .modalContent {
    padding: 16px;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
