.mainContent{
    position: absolute;
    right: 36px;
    width: 22rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}
.notificationItem{
    width: 20rem;
    height: 4rem;
}