/* .homeContainer{
    display: flex;
    flex-direction: column;
}
.homeSection{
    height: fit-content;
} */
$mobile-breakpoint: 940px;

.reviewBtn {
    width: 12rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #42AE55;
    border: none !important;
    color: #000;
}

.purplrBtn {
    pointer-events: none;
    color: #b479d9;
    background-color: rgba(180, 121, 217, 0.15);
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    max-width: 18rem;
    img{
        width: 20px;
    }
}

.topMenu {
    font-family: 'phosphor';
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    background-color: #e2f5f2;
    color: #11b196;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    text-align: center;
}
.topsection1{
    h1{
        font-size: 40px;
        line-height: 1.3;
        font-weight: 700;

    }
    p{
        font-weight: 500;
        line-height: 1.8;
        font-size: 18px;

    }
    h3{
        font-weight: 500;
    }
}

.topBtn {
    border-radius: 12px;
    color: #fff;
    background-color: #2ebb77;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    max-width: 18rem;
}

.topImage1 {
    border-radius: 20px;
    width: 100%;

}

.topImage2 {
    border-radius: 20px;
    width: 40%;
    margin-top: -8rem;
}

.reviewBtn1 {
    width: 12rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.firstSectionLargeText {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 2rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 30px;
    }
}

.felxMobile {
    flex-direction: row;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.firstSectionLeftRow {
    width: 60%;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}

.listTextWrapper {
    margin-bottom: 1rem;
}

.listTextWrapper p {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 0.5rem;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.listTextWrapper i {
    font-size: 25px;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.secondSectionWrapper1 {
    padding: 2rem;
    color: #fff;
    background-image: url('/boxback.png');
    background-size: cover; /* Adjust this as needed */

    .abonnezBtn{
        height: 56px;
        border-radius: 12px;
        font-weight: 600;
        padding: 0 45px;
        max-width: 17rem;
        &:hover{
            background-color: #2ebb77 !important;
            border: none;
        }
    }
    .image{
        width: 40%;
        border-radius: 10px;
        margin: 1.5rem;
    }
    .secondSectionInnerWrapper{
        padding-right: 8%;
        h1{
            font-size: 48px;
        }
        h5{
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.secondSectionWrapper {
    padding: 2rem;
    color: #fff;
    background-image: url("/backimage.png");
    background-size: cover; /* Adjust this as needed */
}

.secondSectionWrapper p {
    font-size: 20px;
    font-weight: 600;
}

.secondSectionWrapper ul {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 1rem;
}

.secondSectionWrapper h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    @media (max-width: $mobile-breakpoint) {
        font-size: 38px;
    }
}

.secondSectionWrapper h2 {
    font-size: 30px;
    font-weight: bolder;

    @media (max-width: $mobile-breakpoint) {
        font-size: 15px;
    }
}

.thirdSectionWrapper {
    .topThird{
        font-size: 40px;
    line-height: 1.3;
    margin-top: 15px;
    font-weight: 700;
    img{
        width: 36px;
    }
    }
    .stepper {
        .line {
            width: 2px;
            opacity: 0.5;
            //background-color: lightgrey !important;
            border: 1px solid gray;
            border-style: dashed;
            border-spacing: 10px;
        }

        .lead {
            font-size: 1.1rem;
        }

        .stepImg {
            border-radius: 12px;
            max-width: 400px;
        }

        .stepperTextWrapper {
            width: 400px;
        }

        .lineWrapper {
            margin-top: 140px;
            margin-bottom: -140px;
            margin-left: 5.5rem;
            margin-right: 5.5rem;
        }

        @media (max-width: $mobile-breakpoint) {
            display: none !important;
        }
        .stepBtn{
            font-weight: 700;
            &:hover{
                background-color: #2ebb77 !important;
            }
        }
    }


    .stepperMobile {
        display: none !important;

        @media (max-width: $mobile-breakpoint) {
            display: flex !important;


            .line {
                width: 2px;
                background-color: lightgrey !important;
            }

            .lead {
                font-size: 1.1rem;
            }
        }

    }
}

.forthSectionWrapper h1 {
    font-size: 55px;
    font-weight: 800;
    margin-top: 2rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 28px;
    }
}

.forthSectionWrapper ul {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 1rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 15px;
    }
}

.forthSectionWrapper form {
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;

    @media (max-width: $mobile-breakpoint) {
        width: 80%;
    }
}

.forthSectionWrapper form label {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.forthSectionWrapper form input {
    margin-bottom: 1rem;
    margin-bottom: .5rem;
}

.forthSectionWrapper form span {
    margin-left: 1rem;
    margin-bottom: 2rem;
}