/* .homeContainer{
    display: flex;
    flex-direction: column;
}
.homeSection{
    height: fit-content;
} */
$mobile-breakpoint: 940px;

.reviewBtn {
    width: 12rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #42AE55;
    border: none !important;
    color: #000;
}

.purplrBtn {
    color: #b479d9;
    background-color: rgba(180, 121, 217, 0.15);
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 40px;
    border: none;
    width: 40%;
}

.topMenu {
    font-family: 'phosphor';
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    background-color: #e2f5f2;
    color: #11b196;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    text-align: center;
}

.topBtn {
    border-radius: 12px;
    background-color: #2ebb77;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    width: 30%;
}

.topImage1 {
    border-radius: 20px;
    width: 100%;

}

.topImage2 {
    border-radius: 20px;
    width: 40%;
    margin-top: -8rem;
}

.reviewBtn1 {
    width: 12rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.firstSectionLargeText {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 2rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 30px;
    }
}

.felxMobile {
    flex-direction: row;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.firstSectionLeftRow {
    width: 60%;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}

.listTextWrapper {
    margin-bottom: 1rem;
}

.listTextWrapper p {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 0.5rem;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.listTextWrapper i {
    font-size: 25px;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.secondSectionWrapper {
    padding: 2rem;
    background-color: #58BA63;
    color: #fff;
}

.secondSectionWrapper p {
    font-size: 20px;
    font-weight: 600;
}

.secondSectionWrapper ul {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 1rem;
}

.secondSectionWrapper h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    @media (max-width: $mobile-breakpoint) {
        font-size: 38px;
    }
}

.secondSectionWrapper h2 {
    font-size: 30px;
    font-weight: bolder;

    @media (max-width: $mobile-breakpoint) {
        font-size: 15px;
    }
}

.thirdSectionWrapper {
    .stepper {
        .line {
            width: 2px;
            opacity: 0.5;
            background-color: lightgrey !important;
        }

        .lead {
            font-size: 1.1rem;
        }

        .stepImg {
            border-radius: 12px;
            max-width: 400px;
        }

        .stepperTextWrapper {
            width: 400px;
        }

        .lineWrapper {
            margin-top: 140px;
            margin-bottom: -140px;
        }

        @media (max-width: $mobile-breakpoint) {
            display: none !important;
        }
    }


    .stepperMobile {
        display: none !important;

        @media (max-width: $mobile-breakpoint) {
            display: flex !important;


            .line {
                width: 2px;
                background-color: lightgrey !important;
            }

            .lead {
                font-size: 1.1rem;
            }
        }

    }
}

.forthSectionWrapper h1 {
    font-size: 55px;
    font-weight: 800;
    margin-top: 2rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 28px;
    }
}

.forthSectionWrapper ul {
    font-size: 20px;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 1rem;

    @media (max-width: $mobile-breakpoint) {
        font-size: 15px;
    }
}

.forthSectionWrapper form {
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;

    @media (max-width: $mobile-breakpoint) {
        width: 80%;
    }
}

.forthSectionWrapper form label {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.forthSectionWrapper form input {
    margin-bottom: 1rem;
    margin-bottom: .5rem;
}

.forthSectionWrapper form span {
    margin-left: 1rem;
    margin-bottom: 2rem;
}