$mobile-breakpoint: 940px;

.backgroundContainer {
  // background-image: url('/backimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.card {
  max-width: 85%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @media (max-width: $mobile-breakpoint) {
    max-width: 85%;
    margin-left: 1.5rem;
  }
}
.wheelWrapper{
 position: fixed;
 left: 21px;
 bottom: -250px;
  transform: translate(-50%,-50%);

 @media (max-width: $mobile-breakpoint) {
  left: 21px;
  bottom: -250px;
  transform: translate(-50%,-50%);
}

@media (max-height: 782px) {
  left: 21px;
  bottom: -320px !important;
  transform: translate(-50%,-50%);
}
 
}

.cardImage {
  width: 20%;
}
.fireImage{
  width: 18rem;
}

.addMarginBottom{
  margin-bottom: 660px;
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 480px;
  }
  
}

.wheelWrapperc{
  flex-direction: row;
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}
.spinTopWrapper{
  .spinLogo{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 8px solid #5cb85c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  p{
    font-size: 20px;
    font-weight: 900;
    color: #000;
  }
  
  button{
    border-radius: 20px;
    font-weight: 600;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: start !important;
  }
}

.wheelCardContentWrapper{
  h1{
    font-weight: 700;
  }
  .cardListItem{
    div{
      background-color: #5cb85c;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      color: #fff;
      z-index: 2;
      font-weight: 700;
    }
    p{
      margin-bottom: 0;
      color: #000;
      font-weight: 700;
      background-color: #D9D9D9;
      padding: 2px 1rem 2px 1rem;
      border-radius: 10px;
      margin-left: -14px;
      z-index: 1;
      width: 14rem;

    }
  }
  .imageArr{
    img{
      width: 2.5rem;
      position: absolute;
    }
    .google{
      margin-left: -15rem;
      margin-top: -5rem;
      @media (max-width: $mobile-breakpoint) {
        margin-left: -10rem;
        margin-top: -4rem;
      }
    }
    .insta{
      margin-left: -12rem;
      @media (max-width: $mobile-breakpoint) {
        margin-left: -7.5rem;
      }
    }
    .fb{
      margin-left: 12rem;
      margin-top: -5rem;
      @media (max-width: $mobile-breakpoint) {
        margin-left: 7.5rem;
        margin-top: -4rem;
      }
    }
    .tiktok{
      margin-left: 9rem;
      @media (max-width: $mobile-breakpoint) {
        margin-left: 5rem;
      }
    }
  }
}
